build/
*.xmind
*.pyc
.vscode/settings.json
.vscode/launch.json
*/__pycache__/
*/.cache/
*/*/__pycache__/
*/*/.cache/
lastfailed
MJOLNIR.xmind
tester.py
*.aux
*.bbl
*.blg
*.log
*.out
*.gz

Normalization/*_pixels
Normalization/Raw
TestData/*_pixels
TestData/Raw
TestData/1024/1_pixels
TestData/1024/3_pixels
TestData/1024/8_pixels
TestData/1024/Raw
TestData/1024/Inspection/
TestData/1024/
TestData/ManuallyChangedData
CommandLineScripts/.settings


.*/
dist/*
MJOLNIR.egg-info/*
TestData/A4/*

Tutorials/*.nxs
Report/

.coverage*
*/.coverage*

coverage_html_report
samlpedata/*
docs/Commissioning/*
MJOLNIR/MJOLNIR.egg-info/*
