build/
*.xmind
*.pyc
.vscode/settings.json
.vscode/launch.json
*/__pycache__/
*/.cache/
*/*/__pycache__/
*/*/.cache/
lastfailed
MJOLNIR.xmind
tester.py
*.aux
*.bbl
*.blg
*.log
*.out
*.gz

Normalization/*_pixels
Normalization/Raw
TestData/*_pixels
TestData/Raw

*.calib
*.nxs

.*/
dist/*
MJOLNIR.egg-info/*
