build/
*.xmind
*.pyc
.vscode/settings.json
.vscode/launch.json
MJOLNIR/__pycache__/
MJOLNIR/.cache/
MJOLNIR/Geometry/__pycache__/
MJOLNIR/Geometry/.cache/
lastfailed
MJOLNIR/Geometry/__pycache__/*.pyc
MJOLNIR.xmind
tester.py
