sudo: false

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "2.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script: 
  - pytest -vv MJOLNIR/__init__.py;
  - pytest -vv MJOLNIR/Geometry/GeometryObject.py;
    
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]];
    then coveralls;
    fi

